
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
*{
    margin: 0;
    padding: 0;
}
.logo{
font-family:"Metal Mania";
color: yellow;
margin-left: 15%;
}

.nav-bar{ /*Barra de navegacao*/
    background-image: url('img/nav2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px; /* Ajuste a altura conforme necessário */
    display: flex;
    align-items: center;
    color: white; /* Cor do texto */
    font-family: Arial, sans-serif;
    position: fixed; /* Torna a barra de navegação fixa */
    top: 0; /* Afixa a barra de navegação no topo da janela do navegador */
    left: 0; /* Afixa a barra de navegação no lado esquerdo da janela */
    right: 0; /* Afixa a barra de navegação no lado direito da janela */
    padding: 0;
    margin: 0;

}

.Timer {
    height:50px;
    width: 50px;
    background-color: #898989;
    image-resolution: 100%;
    border-color: black;

}
.imgbotao{
    height: 50px;
    width: 50px; 
    image-resolution: 50%;
    background-color: transparent;
    border: none;
}

.buttonsTimer{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.barraTimer{
    display: inline-flex;
    justify-content: start;
    text-align:start;
    background-color: #D9D9D9;
    border-style:solid;
    border-width:2px;
    border-color:#CDCAAC ;
    margin-left:15% ;
    box-sizing: content-box;
    width: 370px;
    height: 50px;
}

.Contador{
    margin-top: 5.5%;
    margin-left: 17%;
    font-size: 35px;
    justify-content: center;
}


.barraDados{
    display: inline-flex;
    justify-content: start;
    background-color: #D9D9D9;
    border-style: solid;
    border-width:2px;
    border-color: #CDCAAC;
    margin-right: 5%;
    margin-left: 20%;
    box-sizing: content-box;
    width: 412px;
    height: 50px;

}

.imgDice{
    width: 50px;    
    height: 50px;
    background-color: transparent;
}

.buttonsDice{
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}


.resultDice{
    width: 48px;
    height:48px;
    margin-left: 20%;
    margin-bottom: 15%;
    font-size: 45px;
    text-align: center;
    color: green;
  /*  border-style: solid;
    border-width:2px;
    border-color: #000000;*/
    
}

.viewFile{
    display: flex  ;
    width: 600px;
    right: 400px;
    margin-top: 45%;
    margin-left: 15%;
    border-style:solid;
    border-width:2px;
    border-color:#CDCAAC 
}



.backGround{
    background-image: url('img/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #f2f2f2;
}