
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

body {
    background-image: url('img/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #f2f2f2;
}

.header{
    display: flex;
}

.nav {
    background-image: url('img/nav2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    display: flex;
    align-items: center;

    justify-content: space-between;
    color: white; /* Cor do texto */
    font-family: Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    
}

.logo {
    width: 150px;
    height: 75px;
}



.temporario{
    bottom: auto;
}

/* -Cronometro*/

.barraTimer{ /*Barra do cronometro*/
    display: inline-flex;
    justify-content: space-between;
    text-align:start;
    background-color: #D9D9D9;
    border-style:solid;
    border-width:2px;
    border-color:#CDCAAC ;
    margin-left:15% ;
    box-sizing: content-box;
    width: 220px;
    height: 50px;
}

.Timer {
    height:50px;
    width: 50px;
    background-color: #898989;
    image-resolution: 100%;
    border-color: black;
}

.Contador{ /*String do contador*/
    margin-top: 5.5%;
    margin-left: 17%;
    font-size: 35px;
    justify-content: center;
}

/* Sistema de dados*/
.barraDados{
    display: inline-flex;
    justify-content: start;
    background-color: #D9D9D9;
    border-style: solid;
    border-width:2px;
    border-color: #CDCAAC;
    margin-right: 5%;
    margin-left: 20%;
    box-sizing: content-box;
    width: 423px;
    height: 50px;

}

.imgDice{
    width: 50px;    
    height: 50px;
    background-color: transparent;
}

.buttonsDice{
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}


.resultDice{
    width: 53px;
    height:50px;
    margin-top:0%;
    margin-left: 38%;
    font-size: 45px;
    text-align: center;
    color: green;
    background-color: #898989;
  /*  border-style: solid;
    border-width:2px;
    border-color: #000000;*/
    
}

/*Visualizacao das ficha e anotacoes*/
.viewFile{ /*Aba de visualizacao de arquivos dpo mestre*/
    width: 770px;
    height: 500px;
    margin-left: 5%;
    margin-top: 13%;
    background-color: #898989;
    border-style:solid;
    border-width:2px;
    border-color:#CDCAAC
   
   
}

.anotacoes{/*Biblioteca do mestre*/

    width: 470px;
    height: 500px;
    margin-top: -27.95%;
    margin-left: 65%;
    background-color: #898989;
    border-style:solid;
    border-width:2px;
    border-color:#CDCAAC
}

.tabTitle{
    width: 150px;
    height: 40px;
    margin-top: -5.6%;
    margin-left: -0.2%;
    background-color: #898989;
    border-style:solid;
    border-width:2px;
    border-color:#CDCAAC
}
