body {
    background-image: url('img/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #f2f2f2;
}

.header{
    display: flex;
}

.nav {
    background-image: url('img/nav2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adicionado para alinhar logo à direita */
    color: white;
    font-family: Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    
}

.logo {
    width: 50%;
    height: 50%;
    margin-right: 20px; /* Adicionado para espaço entre logo e canto direito */
    margin-top: px;
    position: relative;
}



.temporario{
    bottom: auto;
}