@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Metal+Mania&display=swap'); /*Importa a fonte*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logoLogin{ /*Logo da tela do login*/

    font-family: "Metal Mania";
    background: linear-gradient(35deg, rgb(236, 240, 0), rgb(215, 218, 9) ,rgb(176, 179, 7),rgb(127, 130, 0), rgb(125, 127, 0));
    background-size: 400% 100%;
    animation: degrade  25s  linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: fixed;
    left: 45    %;
    top: 35%;
   
}

.logo{ /*Logo da tela do player e do mestre*/

    font-family: "Metal Mania";
    background: linear-gradient(35deg, rgb(236, 240, 0), rgb(215, 218, 9) ,rgb(176, 179, 7),rgb(127, 130, 0), rgb(125, 127, 0));
    background-size: 400% 100%;
    animation: degrade  25s  linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

@keyframes degrade {  /*Configuracao da animacao*/
    0%{
        background-position-x:0% ;
    }
    100%{
        background-position: 400%;
    }
}


.backG{
background-image:url(img/fundo.jpg); /*Define uma img com background*/
display: flex;
text-align: center;

}

.nav-bar{ /*barra de navegaca*/
    background-image: url(img/fundo-nav.png.avif);
    display: flex;
    size: 100%;
}